
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="autos">
    <head>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/app.css" />
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script src="js/app.js"></script>

    </head>
    <body >

    <section ng-controller="PanelController as panel" >
        <ul class = "nav nav-pills">
            <li ng-class="{active:panel.isSelected(1)}"><a href ng-click="panel.selectTab(1)">Datos del Cliente</a></li>
            <li ng-class="{active:panel.isSelected(2)}"><a href ng-click="panel.selectTab(2)">Datos del Veh&iacute;culo</a></li>
            <li ng-class="{active:panel.isSelected(3)}"><a href ng-click="panel.selectTab(3)">Datos del Incidente</a></li>
        </ul>

            <form name="clienteForm"  ng-controller="IncidenteController as incidenteCtrl" ng-submit="incidenteCtrl.addIncidente()">
        <div id="datosCliente" class="panel" ng-show="panel.isSelected(1)">
            <h1>Datos del Cliente</h1>
                <fieldset class="form-group">
                    <label>Tipo de Documento: </label>
                    <select id="tipoDocumento" class = "form-control"  width="400dp" ng-controller="TipoDocumentoController as tipoDocumentoCtrl" ng-model="incidenteCtrl.incidente.cliente.tipoDocumento.id" required = "required">
                        <option value="">Tipo de Documento</option>
			
                        <option ng-repeat="tipoDocumento in tipoDocumentoCtrl.tiposDocumento" value="{{tipoDocumento.id}}">{{tipoDocumento.name}}</option>
                       
                    </select>
                </fieldset>

                <label>N&uacute;mero de Documento: </label>
                <fieldset class="form-group">
                    <input type="number" id="numeroDocumento" class="form-control" placeholder="Ingrese el n&uacute;mero de documento del cliente" title="N&uacute;mero de documento"  required="required"  width="400dp" 
                    ng-model="incidenteCtrl.incidente.cliente.numeroDocumento">
                </fieldset>

                <label>Primer Nombre: </label>
                <fieldset class="form-group">
                    <input type="text" id="primerNombre" class="form-control" ng-model="incidenteCtrl.incidente.cliente.primerNombre" placeholder="Ingrese el primer nombre del cliente" title="Primer nombre del cliente" >
                </fieldset>
                <label>Segundo Nombre: </label>
                <fieldset class="form-group">
                    <input type="text" id="segundoNombre" class="form-control" ng-model="incidenteCtrl.incidente.cliente.segundoNombre" placeholder="Ingrese el segundo nombre del cliente" title="Segundo nombre del cliente" >
                </fieldset>
                <label>Primer Apellido: </label>
                <fieldset class="form-group">
                    <input type="text" id="primerApellido" class="form-control"  ng-model="incidenteCtrl.incidente.cliente.primerApellido" placeholder="Ingrese el primer apellido del cliente" title="Primer apellido del cliente" >
                </fieldset>
                <label>Segundo Apellido: </label>
                <fieldset class="form-group">
                    <input type="text" id="segundoApellido" class="form-control" ng-model="incidenteCtrl.incidente.cliente.segundoApellido" placeholder="Ingrese el segundo apellido del cliente" title="Segundo apellido del cliente" >
                </fieldset>
                <label>Tipo de Afiliaci&oacute;n: </label>
                <fieldset class="form-group">
                    <select id="tipo" class="form-control" ng-controller="TipoAfiliacionController as tipoAfiliacionCtrl" ng-model="incidenteCtrl.incidente.cliente.tipoCliente.id">
                        <option>Tipo de Afiliaci&oacute;n</option>
                        <option ng-repeat="tipoAfiliacion in tipoAfiliacionCtrl.tiposAfiliacion" value="{{tipoAfiliacion.id}}">{{tipoAfiliacion.name}}</option>
                    </select></fieldset>
                <label>Fecha de Nacimiento: </label>

                <fieldset class="form-group">
                    <input type="date" id="fechaNacimiento" class="form-control" ng-model="incidenteCtrl.incidente.cliente.fechaNacimiento">
                </fieldset>
            
        </div>
        <div id="datosVehiculo" class = "panel" ng-show="panel.isSelected(2)">
            <h1>Datos del Veh&iacute;culo</h1>

            <label>Tipo: </label>
            <fieldset class="form-group">
                <select id="tipoVehiculo" class="form-control"  ng-controller="TipoVehiculoController as tipoVehiculoCtrl" ng-model="incidenteCtrl.incidente.vehiculo.tipoVehiculo.id">
                    <option value="">Tipo Veh&iacute;culo</option>
                    <option ng-repeat="tipoVehiculo in tipoVehiculoCtrl.tiposVehiculo" value="{{tipoVehiculo.id}}">{{tipoVehiculo.name}}</option>
                </select></fieldset>
            <label>Referencia: </label>
            <fieldset class="form-group">
                <input type="text" id="referencia" class="form-control" ng-model="incidenteCtrl.incidente.vehiculo.referencia"></fieldset>
            <label>N&uacute;mero de P&oacute;liza: </label>
            <fieldset class="form-group">
                <input type="number" id="numeroPoliza" class="form-control" ng-model="incidenteCtrl.incidente.vehiculo.numeroPoliza"></fieldset>
            <label>Fecha Inicio Vigencia: </label>
            <fieldset class="form-group">
                <input type="date" id="fechaInicioVigencia" class="form-control" ng-model="incidenteCtrl.incidente.vehiculo.fechaInicioVigenciaPoliza"></fieldset>
            <label>Fecha Fin Vigencia: </label>
            <fieldset class="form-group">
                <input type="date" id="fechaFinVigencia" class="form-control" ng-model="incidenteCtrl.incidente.vehiculo.fechaFinVigenciaPoliza"></fieldset>
        </div>
        <div id="datosIncidente" class = "panel" ng-show="panel.isSelected(3)">
            <h1>Datos del Incidente</h1>
            <label>Fecha del Incidente: </label>
            <fieldset class="form-group">
                <input type="date" id="fechaIncidente" class="form-control" ng-model="incidenteCtrl.incidente.fechaIncidente"></fieldset>
            <label>Motivo del Incidente</label>
            <fieldset class="form-group">
                <select id="motivoIncidente" class="form-control"  ng-controller="MotivoIncidenteController as motivoIncidenteCtrl" ng-model="incidenteCtrl.incidente.motivoIncidente.id">
                    <option value="">Motivo de Incidente</option>
                    <option ng-repeat=" motivoIncidente in motivoIncidenteCtrl.motivosIncidente" value="{{motivoIncidente.id}}">{{motivoIncidente.name}}</option>
                </select></fieldset>
            <label>Descripci&oacute;n</label>
            <fieldset class="form-group">
                <input type="text" id="descripcion" class="form-control" ng-model="incidenteCtrl.incidente.descripcion"></fieldset>
            <label>Valor Reparaci&oacute;n Aproximado ($)</label>
            <fieldset class="form-group">
                <div ng-controller="valorreparacionCtrl">
                <input type="text" id="valorReparacion" class="form-control" ng-model="incidenteCtrl.incidente.valorAproximadoReparacion" real-time-currency /> 
            <label>Culpable</label>
            <fieldset class="form-group">
                <input type="radio" name="culpable" value="SI" ng-model="incidenteCtrl.incidente.culpable">  SI<br>
                <input type="radio" name="culpable" value="NO">  NO
                </fieldset>
            <label>Lugar del Incidente</label>
            <fieldset class="form-group">
                <input type="text" id="lugarIncidente" class="form-control" ng-model="incidenteCtrl.incidente.lugarIncidente"></fieldset>
     <fieldset class="form-group">
                <input type="submit" class="btn btn-primary" value="Submit" />
              </fieldset>
        </div>
     
        </form>
    </section>


</body>
</html>
